#plano-principal {
    background-image: url(sementes.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.cabecalho {
    background-color: black;
    display: block;
}